
$fontColor: #000000;
$titleColor: #2B2B2B;
$hoverColor: #FFCE20;
$accent: #01bbd0;
$eco: #00D32E;
$eco-ocean: #00BDD3;
$ocean: #D2E9EB;
$oceanLight: #DCEEFE;

// Roboto:
%Rubik-400 {
   font-family: 'Rubik-400';
   font-weight: 400;
}

%Rubik-500 {
   font-family: 'Rubik-500';
   font-weight: 500;
}

%Rubik-600 {
   font-family: 'Rubik-600';
   font-weight: 600;
}

%Rubik-700 {
   font-family: 'Rubik-700';
   font-weight: 700;
}