<section class="section-accordion"> 
   <div class="container">
      <h2 class="section-accordion__title title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">Вопрос-ответ</h2>
      
      <ul class="accordion">
      
         <li class="accordion__item open" data-aos="fade-right">
            <div class="accordion__head">
               Не испортится ли ткань после чистки?
               <span class="accordion__btn"></span>
            </div>

            <div class="accordion__body">
               <div class="accordion__content">
                  <p>Не переживайте об этом, поверхность вашего дивана абсолютно не пострадает от воздействия препаратов. Даже наоборот,
                  благодаря высококачественной американской и немецкой косметике ткань обретет более свежий вид, цвет станет насыщеннее.</p>
               </div>
            </div>
         </li>
      
         <li class="accordion__item" data-aos="fade-left">
            <div class="accordion__head">
               Не вредны ли химические препараты для людей и животных?
               <span class="accordion__btn"></span>
            </div>

            <div class="accordion__body">
               <div class="accordion__content">
                  <p>Не переживайте об этом, поверхность вашего дивана абсолютно не пострадает от воздействия препаратов. Даже наоборот,
                  благодаря высококачественной американской и немецкой косметике ткань обретет более свежий вид, цвет станет насыщеннее.
                  </p>
               </div>
            </div>
         </li>
      
         <li class="accordion__item" data-aos="fade-right">
            <div class="accordion__head">
               Как долго будет сохнуть диван после чистки?
               <span class="accordion__btn"></span>
            </div>

            <div class="accordion__body">
               <div class="accordion__content">
                  <p>Не переживайте об этом, поверхность вашего дивана абсолютно не пострадает от воздействия препаратов. Даже наоборот,
                  благодаря высококачественной американской и немецкой косметике ткань обретет более свежий вид, цвет станет насыщеннее.
                  </p>
               </div>
            </div>
         </li>

         <li class="accordion__item" data-aos="fade-left">
            <div class="accordion__head">
               Как долго происходит чистка 1 дивана?
               <span class="accordion__btn"></span>
            </div>

            <div class="accordion__body">
               <div class="accordion__content">
                  <p>Не переживайте об этом, поверхность вашего дивана абсолютно не пострадает от воздействия препаратов. Даже наоборот,
                  благодаря высококачественной американской и немецкой косметике ткань обретет более свежий вид, цвет станет насыщеннее.</p>
               </div>
            </div>
         </li>
      
         <li class="accordion__item" data-aos="fade-right">
            <div class="accordion__head">
               Все ли пятна вы можете удалить?
               <span class="accordion__btn"></span>
            </div>

            <div class="accordion__body">
               <div class="accordion__content">
                  <p>Не переживайте об этом, поверхность вашего дивана абсолютно не пострадает от воздействия препаратов. Даже наоборот,
                  благодаря высококачественной американской и немецкой косметике ткань обретет более свежий вид, цвет станет насыщеннее.
                  </p>
               </div>
            </div>
         </li>
      
         <li class="accordion__item" data-aos="fade-left">
            <div class="accordion__head">
               Можете ли вы устранить сильные запахи?
               <span class="accordion__btn"></span>
            </div>

            <div class="accordion__body">
               <div class="accordion__content">
                  <p>Не переживайте об этом, поверхность вашего дивана абсолютно не пострадает от воздействия препаратов. Даже наоборот,
                  благодаря высококачественной американской и немецкой косметике ткань обретет более свежий вид, цвет станет насыщеннее.
                  </p>
               </div>
            </div>
         </li>

         <li class="accordion__item" data-aos="fade-right">
            <div class="accordion__head">
               Даете ли вы гарантии результата?
               <span class="accordion__btn"></span>
            </div>

            <div class="accordion__body">
               <div class="accordion__content">
                  <p>Не переживайте об этом, поверхность вашего дивана абсолютно не пострадает от воздействия препаратов. Даже наоборот,
                  благодаря высококачественной американской и немецкой косметике ткань обретет более свежий вид, цвет станет насыщеннее.
                  </p>
               </div>
            </div>
         </li>
      
         <li class="accordion__item" data-aos="fade-left">
            <div class="accordion__head">
               В каких городах вы работаете?
               <span class="accordion__btn"></span>
            </div>

            <div class="accordion__body">
               <div class="accordion__content">
                  <p>Не переживайте об этом, поверхность вашего дивана абсолютно не пострадает от воздействия препаратов. Даже наоборот,
                  благодаря высококачественной американской и немецкой косметике ткань обретет более свежий вид, цвет станет насыщеннее.
                  </p>
               </div>
            </div>
         </li>
      
         
      </ul>
   </div>
</section>

