<section class="advantages">
   <div class="container">
      <h2 class="advantages__title">Мы искренне рады, что вы приняли решение позаботиться о благополучии своей семьи!</h2>

      <span class="advantages__subtitle">Химчистка мягкой мебели — это:</span>

      <ul class="advantages__list">
         <li class="advantages__item advantages__item--one">
            <div class="advantages__icon advantages__icon--health"></div>
            <div class="advantages__text">
               <h3 class="advantages__item-title">ЗДОРОВЬЕ</h3>
               <p class="advantages__description">
                  Минимизация риска развития аллергии, кожных заболеваний, проблем с дыханием (особенно у детей) и улучшение качества сна
               </p>
            </div>
         </li>

         <li class="advantages__item advantages__item--two">
            <div class="advantages__icon advantages__icon--economy"></div>
            <div class="advantages__text">
               <h3 class="advantages__item-title">РАЦИОНАЛЬНОСТЬ</h3>
               <p class="advantages__description">
                  Увеличение срока эксплуатации мебели или напольного покрытия в разы, что экономит бюджет семьи
               </p>
            </div>
         </li>

         <li class="advantages__item advantages__item--three">
            <div class="advantages__icon advantages__icon--broom"></div>
            <div class="advantages__text">
               <h3 class="advantages__item-title">ОПРЯТНОСТЬ</h3>
               <p class="advantages__description">
                  Придание вашему жилью аккуратности и более презентабельного вида, что позволит вам и вашим гостям чувствовать себя
                  уютнее
               </p>
            </div>
         </li>
      </ul>
   </div>
</section>