<section class="case">
   <div class="container">
      <h2 class="case__title">Делаем свое дело</h2>

      <ul class="case__list">
         <li class="case__item">
            <div class="case__images case__images--bubbles"></div>
            <p class="case__description">Очищаем самые сложные загрязнения и удаляем “древние” пятна</p>
         </li>

         <li class="case__item">
            <div class="case__images case__images--security"></div>
            <p class="case__description">Используем только сертифицированную, безопасную эко-химию</p>
         </li>

         <li class="case__item">
            <div class="case__images case__images--vaccum-cleaner"></div>
            <p class="case__description">У нас работают квалифицированные клинеры, использующие профессиональное немецкое оборудование</p>
         </li>

         <li class="case__item">
            <div class="case__images case__images--stars"></div>
            <p class="case__description">Предоставляем сервис высокого уровня, уважаем каждого клиента</p>
         </li>
      </ul>

   </div>
</section>

<section class="case-banner">
   <div class="case-content">
      <div class="container case-content__container">

         <div class="case-content__flex">
            <div class="case-content__left">
               <h3 class="case-content__title">
                  Если беремся за заказ — значит обязаны предоставить <span>безупречный результат!</span>
               </h3>
            </div>
         </div>

         <div class="case__right case__slider swiper">
            <div class="swiper-wrapper">
         
               <div class="swiper-slide">
                  <div class="case__slide case-1"></div>
               </div>
         
               <div class="swiper-slide">
                  <div class="case__slide case-2"></div>
               </div>
         
               <div class="swiper-slide">
                  <div class="case__slide case-3"></div>
               </div>
         
               <div class="swiper-slide">
                  <div class="case__slide case-4"></div>
               </div>
         
               <div class="swiper-slide">
                  <div class="case__slide case-5"></div>
               </div>
            </div>
         </div>

         <!-- <div class="inner">
            <div class="case-content__swiper swiper">
               <div class="swiper-wrapper">

                  <div class="swiper-slide">
                     <div class="case-slider__img"></div>
                  </div>
      
                  <div class="swiper-slide">
                     <div class="case-slider__img"></div>
                  </div>
      
                  <div class="swiper-slide">
                     <div class="case-slider__img"></div>
                  </div>
                  
                  <div class="swiper-slide">
                     <div class="case-slider__img"></div>
                  </div>
               </div>
            </div>
         </div>
      </div> -->

      <div class="case-content__text-inner">
         <div class="container">
            <p class="case-content__text">
               Мы дорожим вашим временем и своей репутацией, поэтому гарантируем бесплатную повторную чистку дивана, если после первого
               нашего визитам мы что-то пропустили.
            </p>
         </div>
      </div>

   </div>

</section>