<section class="comments" id="comments">
   <div class="container">
      <h2 class="comments__title">Отзывы</h2>

      <div class="comments__slider swiper">
         <ul class="comments__list swiper-wrapper">
      
            <li class="comment swiper-slide">
               <picture class="comment__img">
                  <source type="image/avif" srcset="./images/example_1.avif" />
                  <source type="image/webp" srcset="./images/example_1.webp" />
                  <img width="360" height="190" src="" alt="example result">
               </picture>

               <div class="comment__wrapper">
                  <div class="comment__inner comment__inner--first">
                     <h3 class="comment__subtitle">Что сделали:</h3>
                     <p class="comment__text">Устранили старые пятна мочи, удалили запах, продезинфицировали</p>
                  </div>
   
                  <div class="comment__inner">
                     <h3 class="comment__subtitle">Что думает клиент Мария:</h3>
                     <p class="comment__text">
                        “Ребята справились отлично, приехали быстро, сделали работу тоже быстро) Качеством чистки ооочень довольна, диван
                        очистили до нового состояния! Рекомендую”
                     </p>
                  </div>
               </div>
            </li>
            
            <li class="comment swiper-slide">
               <picture class="card__img">
                  <source type="image/avif" srcset="./images/example_2.avif" />
                  <source type="image/webp" srcset="./images/example_2.webp" />
                  <img width="360" height="190" src="" alt="example result">
               </picture>

               <div class="comment__wrapper">
                  <div class="comment__inner comment__inner--first">
                     <h3 class="comment__subtitle">Что сделали:</h3>
                     <p class="comment__text">Устранили старые пятна мочи, удалили запах, продезинфицировали</p>
                  </div>
   
                  <div class="comment__inner">
                     <h3 class="comment__subtitle">Что думает клиент Мария:</h3>
                     <p class="comment__text">
                        “Ребята справились отлично, приехали быстро, сделали работу тоже быстро) Качеством чистки ооочень довольна, диван
                        очистили до нового состояния! Рекомендую”
                     </p>
                  </div>
               </div>
            </li>

            <li class="comment swiper-slide">
               <picture class="card__img">
                  <source type="image/avif" srcset="./images/example_3.avif" />
                  <source type="image/webp" srcset="./images/example_3.webp" />
                  <img width="360" height="190" src="" alt="example result">
               </picture>

               <div class="comment__wrapper">
                  <div class="comment__inner comment__inner--first">
                     <h3 class="comment__subtitle">Что сделали:</h3>
                     <p class="comment__text">Устранили старые пятна мочи, удалили запах, продезинфицировали</p>
                  </div>
   
                  <div class="comment__inner">
                     <h3 class="comment__subtitle">Что думает клиент Мария:</h3>
                     <p class="comment__text">
                        “Ребята справились отлично, приехали быстро, сделали работу тоже быстро) Качеством чистки ооочень довольна, диван
                        очистили до нового состояния! Рекомендую”
                     </p>
                  </div>
               </div>
            </li>

            <li class="comment swiper-slide">
               <picture class="comment__img">
                  <source type="image/avif" srcset="./images/example_1.avif" />
                  <source type="image/webp" srcset="./images/example_1.webp" />
                  <img width="360" height="190" src="" alt="example result">
               </picture>

               <div class="comment__wrapper">
                  <div class="comment__inner comment__inner--first">
                     <h3 class="comment__subtitle">Что сделали:</h3>
                     <p class="comment__text">Устранили старые пятна мочи, удалили запах, продезинфицировали</p>
                  </div>
   
                  <div class="comment__inner">
                     <h3 class="comment__subtitle">Что думает клиент Мария:</h3>
                     <p class="comment__text">
                        “Ребята справились отлично, приехали быстро, сделали работу тоже быстро) Качеством чистки ооочень довольна, диван
                        очистили до нового состояния! Рекомендую”
                     </p>
                  </div>
               </div>
            </li>
            
            <li class="comment swiper-slide">
               <picture class="card__img">
                  <source type="image/avif" srcset="./images/example_2.avif" />
                  <source type="image/webp" srcset="./images/example_2.webp" />
                  <img width="360" height="190" src="" alt="example result">
               </picture>

               <div class="comment__wrapper">
                  <div class="comment__inner comment__inner--first">
                     <h3 class="comment__subtitle">Что сделали:</h3>
                     <p class="comment__text">Устранили старые пятна мочи, удалили запах, продезинфицировали</p>
                  </div>
   
                  <div class="comment__inner">
                     <h3 class="comment__subtitle">Что думает клиент Мария:</h3>
                     <p class="comment__text">
                        “Ребята справились отлично, приехали быстро, сделали работу тоже быстро) Качеством чистки ооочень довольна, диван
                        очистили до нового состояния! Рекомендую”
                     </p>
                  </div>
               </div>
            </li>

            <li class="comment swiper-slide">
               <picture class="card__img">
                  <source type="image/avif" srcset="./images/example_3.avif" />
                  <source type="image/webp" srcset="./images/example_3.webp" />
                  <img width="360" height="190" src="" alt="example result">
               </picture>

               <div class="comment__wrapper">
                  <div class="comment__inner comment__inner--first">
                     <h3 class="comment__subtitle">Что сделали:</h3>
                     <p class="comment__text">Устранили старые пятна мочи, удалили запах, продезинфицировали</p>
                  </div>
   
                  <div class="comment__inner">
                     <h3 class="comment__subtitle">Что думает клиент Мария:</h3>
                     <p class="comment__text">
                        “Ребята справились отлично, приехали быстро, сделали работу тоже быстро) Качеством чистки ооочень довольна, диван
                        очистили до нового состояния! Рекомендую”
                     </p>
                  </div>
               </div>
            </li>

            
         </ul>
      </div>
   </div>
</section>