<section class="eco">
   <div class="container eco__contain">
      <div class="eco__right">
         <h2 class="eco__title">Для чистки используем абсолютно безопасные <span>эко-средства</span></h2>

         <ul class="eco__list">
            <li class="eco__item">Не вызывают аллергии и раздражений у взрослых и детей</li>
            <li class="eco__item">Безвредны для домашних животных</li>
            <li class="eco__item">Имеют легкий цитрусовый аромат и выветриваются очень быстро</li>
         </ul>
      </div>
   </div>
</section>

<section class="form-block">
   <div class=" container">
      <form class="eco-form" action="#" method="post">
         <h2 class="eco-form__title">Все еще размышляете?</h2>
   
         <p class="eco-form__text">
            Заказывайте химчистку вашего дивана сейчас и получите чистку и дезинфекцию 2-х спальных подушек БЕСПЛАТНО!”
         </p>
   
         <ul class="eco-form__list">
            <li class="eco-form__fild">
               <label class="sr-only" for="name" required>Введите имя</label>
               <input class="eco-form__inpute fild" id="name" type="text" placeholder="Введите Ваше имя">
            </li>
   
            <li class="eco-form__fild">
               <label class="sr-only" for="phone">Введите телефон</label>
               <input class="eco-form__inpute fild" id="phone" type="tel" placeholder="+38(___)___-__-__" required>
            </li>
         </ul>
         <button class="eco-form__order" type="submit">Заказать чистку</button>
      </form>
   </div>
</section>