<footer class="footer">
   <div class="container footer__flex">
      <a href="#" class="logo">
         <img src="./images/Logo.svg" width="160" height="36" alt="logo">
      </a>

      <p class="footer__text">Ваша мягкая мебель скажет нам Спасибо, пылевые клещи и клопы будут в негодовании</p>

      <ul class="footer__schedule">
         <li class="footer__time">
            График работы офиса: <time class="footer__every-day"><span>09:00</span> - <span>18:00</span> ежедневно</time>
         </li>
         
         <li class="footer__time">
            График работы мастеров:<time class="footer__master" datetime=""><span>08:00</span> - <span>21:00</span></time>
         </li>
      </ul>
      
   </div>
</footer>

