<header class="header">
   <div class="container">
      <nav class="nav">
         <a href="#" class="logo">
            <img src="../images/Logo.svg" width="160" height="36" alt="logo">
         </a>

         <button class="burger" type="button">
            <span class="burger__line"></span>
            <span class="sr-only">Открыть меню</span>
         </button>

         <ul class="nav__buttons">
            <li class="nav__button">
               <a class="nav__link hover" href="#price">Услуги и цены</a>
            </li>
            <li class="nav__button">
               <a class="nav__link hover" href="#process">Как чистим</a>
            </li>
            <li class="nav__button">
               <a class="nav__link hover" href="#comments">Примеры работ</a>
            </li>
         </ul>

         <div class="nav__contacts">
            <a class="nav__tel hover" href="tel:+380678812865">(067) 88-12-865</a>

            <ul class="nav__networks">
               <li class="nav__netsork nav__netsork--instagram">
                  <a href="#"><span class="sr-only">перейти на инстаграм</span></a>
               </li>
               <li class="nav__netsork nav__netsork--telegram">
                  <a href="#"><span class="sr-only">перейти на телеграм</span></a>
               </li>
               <li class="nav__netsork nav__netsork--viber">
                  <a href="#"><span class="sr-only">перейти на вайбер</span></a>
               </li>
            </ul>

            <ul class="nav__lgs">
               <button class="nav__lg hover" id="uk" type="button">УКР</button>
               <button class="nav__lg hover active" id="ru" type="button">рус</button>
            </ul>
         </div>
      </nav>
   </div>
</header>