<section class="hero">

   <div class="hero-slider swiper">
      <div class="swiper-wrapper">

         <div class="swiper-slide">
            <div class="hero-slide hero-1"></div>
         </div>

         <div class="swiper-slide">
            <div class="hero-slide hero-2"></div>
         </div>

         <div class="swiper-slide">
            <div class="hero-slide hero-3"></div>
         </div>

         <div class="swiper-slide">
            <div class="hero-slide hero-4"></div>
         </div>

      </div>
   </div>


   <div class="container hero__container">
      <h1 class="hero__title">Профессиональная химчистка мягкой мебели. Киев и область</h1>
      <span class="hero__text">Удалим старые пятна, неприятные запахи, продезинфицируем без вреда для здоровья</span>
      <a href="#" class="hero__link btn">Узнать стоимость чистки</a>
   </div>
</section>