<nav class="mobile-menu">
   <ul class="nav__buttons mobile-menu__nav">
      <li class="nav__button">
         <a class="nav__link mobile-link" href="#price">Услуги и цены</a>
      </li>

      <li class="nav__button">
         <a class="nav__link mobile-link" href="#process">Как чистим</a>
      </li>

      <li class="nav__button">
         <a class="nav__link mobile-link" href="#comments">Примеры работ</a>
      </li>
   </ul>

   <div class="nav__contacts mobile-menu__contacts">
      <a class="nav__tel hover" href="tel:+380678812865">(067) 88-12-865</a>
   
      <ul class="nav__networks mobile-menu__networks">
         <li class="nav__netsork nav__netsork--instagram">
            <a href="#"><span class="sr-only">перейти на инстаграм</span></a>
         </li>

         <li class="nav__netsork nav__netsork--telegram">
            <a href="#"><span class="sr-only">перейти на телеграм</span></a>
         </li>

         <li class="nav__netsork nav__netsork--viber">
            <a href="#"><span class="sr-only">перейти на вайбер</span></a>
         </li>
      </ul>
   
      <ul class="nav__lgs">
         <button class="nav__lg hover" id="uk" type="button">УКР</button>
         <button class="nav__lg hover active" id="ru" type="button">рус</button>
      </ul>
   </div>
</nav>