<section class="order">
   <div class="container order__flex">
      
      <div class="order__left">
         <p class="order__text"><span class="order__slice">Вдохните новую жизнь в ваш старенький диван.</span> Поверьте, он может прослужить вам еще очень долго!</p>
         <span class="order__text-bottom">Наши мастера уже готовы выехать к вам:)</span>

         <form class="order-form" action="#" method="post">
            <ul class="order-form__list">
               <li class="order-form__fild">
                  <label class="sr-only" for="name" required>Введите имя</label>
                  <input class="order-form__inpute fild" id="name" type="text" placeholder="Введите Ваше имя" required>
               </li>
            
               <li class="order-form__fild">
                  <label class="sr-only" for="phone">Введите телефон</label>
                  <input class="order-form__inpute fild" id="phone2" type="tel" placeholder="+38(___)___-__-__" required>
               </li>
            </ul>

            <button class="order-form__order btn" type="submit">Заказать чистку</button>
         </form>
      </div>

      <div class="order__right order__slider swiper">
         <div class="swiper-wrapper">

            <div class="swiper-slide">
               <div class="order__slid slide-1"></div>
            </div>

            <div class="swiper-slide">
               <div class="order__slid slide-2"></div>
            </div>

            <div class="swiper-slide">
               <div class="order__slid slide-3"></div>
            </div>

            <div class="swiper-slide">
               <div class="order__slid slide-4"></div>
            </div>

            <div class="swiper-slide">
               <div class="order__slid slide-5"></div>
            </div>
         </div>
      </div>
   </div>
</section>