<section class="prices" id="price">
   <div class="container">
      <h2 class="prices__title">Чистка диванов</h2>

      <ul class="prices__list">

         <li class="prices__item">
            <a class="prices__link" href="#">
               <article class="card">
                  <picture class="card__img">
                     <source type="image/avif" srcset="../images/sofa_1.avif"/>
                     <source type="image/webp" srcset="../images/sofa_1.webp"/>
                     <img width="360" height="190" src="" alt="sofa">
                  </picture>
   
                  <h3 class="card__title">Прямой диван</h3>
                  <span class="card__text">пометка: до 2,5 м</span>
   
                  <footer class="card__footer">
                     <div class="card__prices">
                        <div class="card__first-price">1300 грн</div>
                        <div class="card__real-price">980 грн</div>
                     </div>
                     <button class="card__order btn" type="button">Заказать чистку</button>
                  </footer>
               </article>
            </a>
         </li>

         <li class="prices__item">
            <a class="prices__link" href="">
               <article class="card">
                  <picture class="card__img">
                     <source type="image/avif" srcset="../images/sofa_2.avif"/>
                     <source type="image/webp" srcset="../images/sofa_2.webp"/>
                     <img width="360" height="190" src="" alt="sofa">
                  </picture>
   
                  <h3 class="card__title">Угловой диван</h3>
                  <span class="card__text">пометка: до 2,5 м</span>
   
                  <footer class="card__footer">
                     <div class="card__prices">
                        <div class="card__first-price">1600 грн</div>
                        <div class="card__real-price">1180 грн</div>
                     </div>
                     <button class="card__order btn" type="button">Заказать чистку</button>
                  </footer>
               </article>
            </a>
         </li>

         <li class="prices__item">
            <a class="prices__link" href="#">
               <article class="card">
                  <picture class="card__img">
                     <source type="image/avif" srcset="../images/sofa_3.avif"/>
                     <source type="image/webp" srcset="../images/sofa_3.webp"/>
                     <img width="360" height="190" src="" alt="sofa">
                  </picture>
   
                  <h3 class="card__title">Диван на 2 посадочных места / кухонный уголок</h3>
                  <span class="card__text"></span>
                  
                  <footer class="card__footer">
                     <div class="card__prices">
                        <div class="card__first-price">1000 грн</div>
                        <div class="card__real-price">800 грн</div>
                     </div>
                     <button class="card__order btn" type="button">Заказать чистку</button>
                  </footer>
               </article>
            </a>
         </li>
      </ul>

      <div class="included">
         <div class="included__inner">
            <h2 class="included__title">Что входит в цену:</h2>
            
            <ul class="included__list">
               <li class="included__item">Чистка со всех сторон и в разложенном виде + 3 подушки</li>
               <li class="included__item">Дезинфукция (нейтрализация запахов)</li>
               <li class="included__item">Дополнительная подушка + 60 грн</li>
               <li class="included__item">Выведение пятен</li>
               <li class="included__item">Удаление бактерий</li>
               <li class="included__item">Свыше 2.5 м + 300 грн\м</li>
            </ul>
         </div>
      </div>
   </div>
</section>