.process {
   padding: 62px 0 52px;
   
   &__title {
      margin-bottom: 43px;
   }

   &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 40px;
   }

   &__item {
      max-width: 260px;
      padding: 16px 16px 25px;
      border-radius: 9px;
      overflow: hidden;
      background-image: url('../images/gradient-card-bg.webp');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border: 1px solid #D1E9EC;
   }

   &__num {
      display: block;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;
      color: $hoverColor;
      margin-bottom: 5px;
   }

   &__text-bolt {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
      max-width: 90%;
      margin-bottom: 5px;
   }

   &__text-regular {
      color: #646464;
      line-height: 1.5;
   }
}
